.personEntry {
    display:flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    justify-content: center;
    align-items:center;
    flex-grow:1;
    flex-basis:0;
  }
  
  label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 26px;
    margin-bottom: 10px;
    width:300px;
    align-items: center;
  }
  
  input {
    height: 20px;
    margin-left: 10px;
    flex: 0 0 200px;
  }
  
  .personEntry > h2{
    margin:10px;
    display:flex;
    justify-content: flex-start;
    width:270px;
  }
  
  .personEntry > .buttons {
    display:flex;
    flex-direction:column;
    width:300px;
  }
  
  .personEntry > .buttons > * {
    margin:5px;
  }